/* 
    Created on : Feb 27, 2019, 7:39:21 PM
    Author     : Jan
*/

.scroll-pane, .scroll-pane .viewport, #consoleOut {
    -fx-background-color: none;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    visibility: hidden;
    -fx-scale-y: 0;
}

#consoleScroll {
    -fx-background-color: #000000CC;
}

.scroll-pane:fitToWidth .scroll-bar:vertical {
    -fx-background-color: #000000CC;
    -fx-border-radius: 3px;
    -fx-background-radius: 3px;
}

.decrement-arrow, .increment-arrow {
    visibility: hidden;
}

.thumb {
    -fx-background-color: #222;
    -fx-border-color: #333;
    -fx-border-radius: 4px;
}