.text-area:readonly .scroll-pane .viewport .content,
.text-area:readonly .scroll-pane .viewport,
.text-field{
    -fx-background-color: transparent;
    -fx-text-fill:#ffffff;
}

.text-area:readonly {
    -fx-text-fill:#ffffff;
}

#consoleOut, #consoleIn {
    -fx-font-family: monospace;
    -fx-background-color: #00000033;
    -fx-text-fill: #fff;
}

 .text, text  {
    -fx-fill:#ffffff;
}

.scroll-pane {
    -fx-background-color: transparent;
    -fx-padding: 0;
}